name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: 'requirements*.txt'

    - name: Install dependencies
      run: |
        python -m pip install -r requirements*.txt
        python -m pip install -e .

    - name: Test
      run: python -m pytest
